<!DOCTYPE html>
<html lang="zh-CN"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
	<link href="static/images/icon.png" rel="icon"/>
    <title>缇可网，您的票务专家</title>
    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>-->
    <!--[endif]-->
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel="stylesheet">
    <link href='https://daneden.github.io/animate.css/animate.min.css' rel="stylesheet">
    <link href="static/css/cover.css" rel="stylesheet">
    <link href="static/css/signin.css" rel="stylesheet">
	<link href="static/css/sidebar.css" rel="stylesheet">
	<link href="static/css/mypage.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="color:#fff">ProTicket</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">缇可网，您的票务专家 <span class="sr-only">(current)</span></a></li>
            
            </ul>
            <form class="navbar-form navbar-left" method="post" action="http://127.0.0.1:8000/search">
                <div class="input-group">
                    <div class="input-group-btn">
                        <input name="searchType" id="searchType" value="演出" hidden>
                        <button type="button" class="btn btn-default" tabindex="-1" id='searchTypeButton'>演出</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" tabindex="-1" >
                            <span class="caret"></span>
                            <span class="sr-only">切换下拉菜单</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="document.getElementById('searchType').value='用户'
                                   document.getElementById('searchTypeButton').innerHTML='用户'">演出</a></li>
                            <li><a href="#" onclick="document.getElementById('searchType').value='标签'
                                    document.getElementById('searchTypeButton').innerHTML='标签'">场馆</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="text" class="form-control" aria-label="..." name="keyword">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
                        greyscale <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">个人中心</a>
                        </li>
                        <li>
                            <a href="#">我的订单</a>
                        </li>
                        <li>
                            <a href="#">我的优惠券</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#" onclick="event.preventDefault();
                                document.getElementById('logout-form').submit();">
                                    退出登录
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="content container" style="margin-top: 65px;margin-bottom: 60px; max-width:1600px;">
	<div id="wrapper">
		<div class="overlay"></div>
		<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" style=" font-size:20px;">
			<ul class="nav sidebar-nav">
				<li class="sidebar-brand"><a href="#">Bootstrap 3</a></li>
				<!-- <li style="line-height:30px"><a href="#">首页</a></li> -->
				<li style="line-height:30px"><a href="#">演唱会</a></li>
				<li style="line-height:30px"><a href="#">话剧歌剧</a></li>
				<li style="line-height:30px"><a href="#">体育赛事</a></li>
				<li style="line-height:30px"><a href="#">音乐会</a></li>
				<li style="line-height:30px"><a href="#">舞蹈芭蕾</a></li>
				<li style="line-height:30px"><a href="#">展览休闲</a></li>
				<li style="line-height:30px"><a href="#">曲艺杂谈</a></li>
			</ul>
		</nav>
		
		<div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
        </div>
    </div>
     
	 <div class="col-md-offset-3 col-md-7">
        <div class="row row-title">
            <div class="col-md-3"><p class="title-page">个人信息</p></div>
            <div class="col-md-offset-8"><a href="#" class="btn btn-sm btn-primary">编辑</a></div>
        </div>
        <hr/>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="" class="control-label col-md-2">邮箱</label>
                524791860@qq.com
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-2">用户名</label>
                greyscale
            </div>
			<div class="form-group">
                <label for="" class="control-label col-md-2">累计消费</label>
                3580元
            </div>
			<div class="form-group">
                <label for="" class="control-label col-md-2">积分</label>
                358
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-2">会员等级</label>
                3
            </div>
        </form>
    </div>
</div>

<footer style="text-align: center; margin: 10px;">
    <div class="container">
        <p>Copyright © 2018 ProTicket NJU Software</p>
    </div>
</footer>
<!-- Bootstrap core JavaScript-->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/jquery/jquery.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="/static/jquery/jquery.js"><\/script>')</script>
<script src="static/bootstrap/js/bootstrap.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

 <script type="text/javascript">
    $(document).ready(function () {
        var trigger = $('.hamburger'),
        overlay = $('.overlay'),
        isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>

</body>
</html>